<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Clicker</string>
	<key>CFBundleExecutable</key>
	<string>Clicker</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>info.backpocket.clicker</string>
	<key>CFBundleName</key>
	<string>Clicker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_companion-link._tcp</string>
		<string>_airplay._tcp</string>
		<string>_mediaremotetv._tcp</string>
		<string>_raop._tcp</string>
		<string>_appletv-v2._tcp</string>
		<string>_touch-able._tcp</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Clicker finds and controls Apple TVs on your local network.</string>
</dict>
</plist>
